<div class="col-md-12">

  <h2 class="text-center"> 我加入的讨论版 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Title </th>
        <th> Description </th>
        <th> Post Count </th>
        <th> Last Update </th>
      </tr>
    </thead>
    <tbody>
    <%= render :partial => "group_item", :collection => @groups, :as => :group %>

    </tbody>
  </table>
</div>
